{% extends "wowardrobe/base.html" %}
{% block title %}WoWardrobe|Login{% endblock %}
{% block content %}
<div class="bg-faded p-4 my-4">
	<div class = "row">
		<div class = 'col-md-4'>
		</div>
		<div class = 'col-md-4'>
			<form class="form-signin" action="{% url 'login' %}" method="post">
         {% if form.errors %}
            <div class = "error" style = "color:red">
              <p>Incorrect username or password.</p>
            </div>
         {% endif %}
         <hr class="divider">
         <h2 class="text-center text-lg text-uppercase my-0">
         	<i class="fa fa-lock" aria-hidden="true"></i>&nbsp<strong>Log in</strong>
         </h2>
         <hr class="divider">
         <div class = "text-center">
	        <table style="margin:1em auto;">
	        	 {{ form }}
	        	 <td colspan = "2"><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button></td>
	        </table>
	    </div>
            <br>
            <u><div class = "text-center"><a href="register">Not yet on WoWardrobe? Sign up here!</a></div></u>
           <!--  <div class = "text-center"><a href="password_reset"> Forget Password?</a></div> -->
            {% csrf_token %}
        </form>
</div>
</div>
</div>
{% endblock %}